@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');

.weather > *{
    margin-top: 10px;
}

.weatherData > *{
    margin-right: 5px;
}

body{
    background-image: linear-gradient(#04283E,#3A4D68);
    overflow: hidden;
    height: 100vh;

}

section{
    margin-top: 100px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: grid;
    grid-auto-rows: auto;
    background-image: linear-gradient(#024360,#2B3C45);
    width: 417px;
    height: 445px;
    border-radius: 25px;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navText{
    height: 53px;
    width: 275px;
    background-color: #eef7f6;
    margin-right: 10px;
    border-radius: 27px;
    border-style: hidden;
    font-size: large;
    box-shadow: 0px 4px 4px 0 #0000005c;
}

.navButton{
    
    height: 53px;
    width: 53px;    
    background-color: #eef7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    border-style: hidden;
    box-shadow: 0px 4px 4px 0 #0000005c;
}

.image{
    padding-bottom: 20px;
}

.weatherDatas{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    
}

.temperature{
    font-size: 3em;
    font-weight: 500;
    color: #FFFFFF;
    font-family:sans-serif;
}

.location{
   font-size: 2.5em;
   color: #FFFFFF;
   font-weight: 100;
   font-family: 'Fredoka',sans-serif;
}

.humidity{
    font-size: 1.5em;
    color: #FFFFFF;
    font-family: 'Fredoka',sans-serif;
    margin-right: 60px;
}

.wind{
    font-size: 1.5em;
    color: #FFFFFF;
    font-family: 'Fredoka',sans-serif;  
}

.navButton:hover{
    box-shadow: 0 0 1px 2px #ffffff;
}