@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');

.weather > *{
    margin-top: 10px;
}

.weatherData > *{
    margin-right: 5px;
}

body{
    background-image: linear-gradient(#04283E,#3A4D68);
    overflow: hidden;
    height: 100vh;
}

.weatherSection{
    margin-top: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: grid;
    grid-auto-rows: auto;
    background-image: linear-gradient(#024360,#2B3C45);
    width: 417px;
    height: 445px;
    border-radius: 25px;
}

.timer{
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 5em;
    color: #FFFFFF;
    font-weight: 600;
}

.nav{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.navText{
    height: 53px;
    width: 275px;
    background-color: #EBF1FD;
    color: #252a2ddd;
    margin-right: 10px;
    border-radius: 27px;
    border-style: hidden;
    font-size: large;
    padding-left: 10px;
    box-shadow: 0px 4px 6px 0 #0000005c;
}

.navButton{
    height: 53px;
    width: 53px;    
    background-color: #EBF1FD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    border-style: hidden;
    box-shadow: 0px 4px 4px 0 #0000005c;
}

.navButtonImg{
    display:initial;
}

.image{
    padding-bottom: 20px;
    width: 100px;
    height: 100px;
    display: none;
}

.weatherDatas{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    height: 48px;
    width: 100%;
}

.temperature{
    font-size: 2.8em;
    font-weight: 500;
    color: #FFFFFF;
    font-family:sans-serif;
}

.location{
   font-size: 2.1em;
   color: #FFFFFF;
   font-weight: 100;
   font-family: 'Fredoka',sans-serif;
   height: 55.2px;
   width: 100%;
}

.humidity{
    font-size: 1.5em;
    color: #FFFFFF;
    font-family: 'Fredoka',sans-serif;
    margin-right: 60px;
    margin-left: 4px;

}

.wind{
    font-size: 1.5em;
    color: #FFFFFF;
    font-family: 'Fredoka',sans-serif;  
    margin-left: 4px;
}

.navButton:hover{
    box-shadow: 0 0 1px 2px #ffffff;
}

.weatherImg{
    display: none;
}